* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #f8f8f7;
}

body {
  background-color: #f8f8f7; /* var(--color-white) */
  color: #000;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.8;
  font-family: "Roboto Mono", monospace;
  display: grid;
  grid-template-columns: 24% 2fr;
}

h1 {
  width: fit-content;
  text-align: center;
  margin: 3rem auto 3rem auto;
  font-size: 2.8rem;
  color: #000000;
  font-weight: bolder;
}

h2 {
  width: fit-content;
  font-size: 1.7rem;
  padding: 0.8rem;
  margin: 3.5rem 4.8rem 3.5rem -0.8rem;
  color: rgb(0, 0, 0);
  box-shadow: 15px 16px #b8f0e0;
  background-color: #95bdbd;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  text-decoration: underline;
  margin: 2rem auto;
}

nav {
  background-color: #6a8a8a;
  border-right: 15px solid #d0f4e9;
  width: 100%;
  color: #000;
  padding-left: 2rem;
}

#navigation {
  position: sticky;
  top: 0px;
  height: 100vh;
  /**Scroll bar for non web-kit based web browsers --- */
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #d0f4e9 #d0f4e9;
  /**Scroll bar for non web-kit based web browsers --- */
}

/** --- Scroll bar for web-kit based web browsers --- */

#navigation::-webkit-scrollbar {
  width: 1.2rem;
}

#navigation::-webkit-scrollbar-track {
  background-color: #d0f4e9;
}

#navigation::-webkit-scrollbar-thumb {
  background: #a8c6bd;
}
/** --- For web-kit based web browsers --- */

p {
  margin: 3rem auto;
}

li,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.tech-stacks-subtitle,
.project-locally-subtitle {
  font-size: 1.05rem;
  line-height: 1.3;
  padding-left: 3.3rem;
  margin: 0.3rem 0;
  font-weight: 300;
}

.tech-stacks-subtitle > a,
.project-locally-subtitle > a {
  border-right: 3.3rem solid #6a8a8a;
}

.navigation-section {
  font-size: 1.2rem;
  padding: 0.3rem 0 0.1rem 1.6rem;
  font-weight: 400;
}

/*nth-child(17) is RESOURCE*/

.navigation-section:first-child,
.navigation-section:nth-child(17) {
  padding-left: 0.3rem;
  font-weight: 700;
}

.navigation-section:first-child:hover,
.navigation-section:nth-child(17):hover {
  cursor: pointer;
  background-color: #d0f4e9;
  color: #000;
}

.tech-stacks-subtitle > a:hover {
  cursor: pointer;
  background-color: #d0f4e9;
  color: #000;
  border-right: 3.3rem solid #d0f4e9;
}

ul > .navigation-section > a:hover {
  cursor: pointer;
  background-color: #d0f4e9;
  color: #000;
}

.project-locally-subtitle > a:hover {
  cursor: pointer;
  background-color: #d0f4e9;

  color: #000;
  border-right: 3.3rem solid #d0f4e9;
}

.container {
  margin-left: 6rem;
  margin-right: 6rem;
}
